<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.DeviceMapper">

    <resultMap id="ResultMap" type="com.example.backend.model.Device">
        <result column="id" javaType="int" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="userid" javaType="int" property="userid" />
        <result column="type" javaType="int" property="type" />
        <result column="activate_time" jdbcType="VARCHAR" property="activate_time" />
    </resultMap>

    <select id="getDeviceList" resultType="com.example.backend.model.Device">
        select *
        from `Device`
        where `userid` = #{userId};
    </select>

    <select id="getDevice" resultType="com.example.backend.model.Device">
        select *
        from `Device`
        where `name` = #{name};
    </select>

    <insert id="addNewDevice" parameterType="map">
        insert into `Device`
        values(null, '${form.name}', '${form.description}', '${form.userid}', '${form.type}', '');
    </insert>

    <update id="editDevice" parameterType="map">
        update `Device`
        set `type` = '${form.type}', `description` = '${form.description}'
        where `name` = '${form.name}' and `userid` = '${form.userid}';
    </update>

    <update id="editDeviceWithoutDescription" parameterType="map">
        update `Device`
        set `type` = '${form.type}'
        where `name` = '${form.name}' and `userid` = '${form.userid}';
    </update>
</mapper>